
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="9 Soft" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Kaam Waley" />
    <meta name="description" content="Kaam Waley - Multipurpose Responsive + Admin" />

    <!-- title  -->
    <title>Kaam Waley</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="~/img/logos/logofaviconvector/favicon.ico">
    <link rel="apple-touch-icon" href="~/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/logos/apple-touch-icon-114x114.png">

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/css/imagehover.min.css" />
    <link rel="stylesheet" href="~/css/custom1.css" />




    <!-- Start of Async Callbell Code -->
    <script>
        window.callbellSettings = {
            token: "2pPVyGK8qqTDYQn7WL1CR4d7"
        };
    </script>
    <script>
        (function () { var w = window; var ic = w.callbell; if (typeof ic === "function") { ic('reattach_activator'); ic('update', callbellSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Callbell = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://dash.callbell.eu/include/' + window.callbellSettings.token + '.js'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
    </script>
    <!-- End of Async Callbell Code -->





</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->
    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style2">

            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="top-bar-info">
                                <ul>
                                    <li><i class="fas fa-mobile-alt"></i>(+92) 331 2008459</li>
                                    <li><i class="fas fa-envelope"></i>info@KaamWaley.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 xs-display-none">
                            <ul class="top-social-icon">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default">

                <!-- start top search -->
                <!-- end top search -->
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img id="logo" src="~/img/logos/logofaviconvector/86 pixel height white.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="@Url.Action("Index", "Home")">Home</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Service", "Services")">Services</a>
                                        </li>
                                        @*<li>
            <a href="#!">Shop</a>
            <ul>
                <li><a href="@Url.Action("Products", "Shop")">Products</a></li>
                <li><a href="@Url.Action("ProductGrid", "Shop")">Product Grid</a></li>
                <li><a href="@Url.Action("ProductDetail", "Shop")">Product Detail</a></li>
                <li><a href="@Url.Action("ShopCart", "Shop")">Shop Cart</a></li>
                <li><a href="@Url.Action("ShopCheckout", "Shop")">Shop Checkout</a></li>
            </ul>
        </li>*@

                                        <li>
                                            <a href="@Url.Action("AboutUs", "Home")">About Us</a>
                                        </li>


                                        <li>
                                            <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                                        </li>


                                        @if (Session["RoleID"] != null)
                                        {
                                            if (Session["RoleID"].ToString() == "0")
                                            {
                                                <li><a href="@Url.Action("Index","AdminDashboard")">Admin Dashboard</a></li>

                                            }

                                            if (Session["RoleID"].ToString() == "2")
                                            {
                                                <li><a href="@Url.Action("Index","SupplierDashboard")">Supplier Dashboard</a></li>
                                            }

                                            if (Session["RoleID"].ToString() == "3")
                                            {
                                                <li><a href="@Url.Action("Index","VendorDashboard")">Vendor Dashboard</a></li>

                                            }

                                            <li><a href="@Url.Action("Logout","Account")">Logout</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Login","Account")">Login</a></li>

                                        }

                                    </ul>


                                    <!-- end menu area -->
                                    <!-- start attribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-70px-right xs-margin-65px-right">
                                        <ul>
                                            @*<li class="dropdown sm-margin-20px-right xs-margin-15px-right">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span class="badge bg-theme">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Sneakers Shoe </a></h6>
                                                        <p>2x - <span class="price">$99.99</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Digital Watch</a></h6>
                                                        <p>1x - <span class="price">$33.33</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Headphones</a></h6>
                                                        <p>2x - <span class="price">$99.99</span></p>
                                                    </li>
                                                    <li class="total bg-theme">
                                                        <span class="pull-left"><strong>Total</strong>: $233.31</span>
                                                        <a href="#!" class="butn small btn-cart white"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>*@
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        @RenderBody()


        <!-- start footer section -->
        <footer class="bg-img background-size-contain" data-overlay-dark="9" data-background="../img/bg/bg1.jpg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <div class="padding-30px-right border-right xs-border-bottom xs-no-border-right  border-color-light-white xs-padding-30px-bottom xs-no-padding-right height-100">
                            <h3 class="footer-title-style7 text-white">Get In Touch</h3>
                            <ul class="footer-list">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-map-marker-alt text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">suite# 304 & 307, anum blessings, KCHSU, Sharah e faisal, Karachi.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-mobile-alt text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">021-34527965,0331 2008459</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="far fa-envelope text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">info@KaamWaley.com</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-globe text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">www.KaamWaley.com</span>
                                </li>
                            </ul>
                            <div class="footer-social-icons small margin-15px-top">
                                <ul>
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <div class="padding-30px-right sm-no-padding-right border-right xs-border-bottom sm-no-border-right border-color-light-white xs-padding-30px-bottom height-100">
                            <h3 class="footer-title-style7 text-white">Quick Links</h3>
                            <ul class="footer-list">
                                <li><a href="@Url.Action("AboutUs","Home")">About Us</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                <li><a href="@Url.Action("Service","Services")">Services</a></li>
                                <li><a href="@Url.Action("Login","Account")">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="height-100">
                            <h3 class="footer-title-style7 text-white">About Us</h3>
                            <p class="margin-20px-bottom">
                                Kaam Waley is a service providing platform that provides you a professional and experienced
                                generator, Ups, AC, Solar System, and CCTV maintenance and installation services.
                            </p>
                            <p class="margin-20px-bottom">
                                We are available 24/7 to provide you best quality services.
                            </p>
                            <a  href="@Url.Action("AboutUs", "Home")" class="butn theme white-hover small"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bar bg-transparent border-top border-color-light-white position-relative z-index-1">
                <div class="container">
                    <p>
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Kaam Waley is Powered by <a href="110.93.228.223:9096" target="_blank">9Soft Solution</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->
    <!-- start switcher section -->
    <!-- end switcher section -->
    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->
    @Scripts.Render("~/Script/js")
    @RenderSection("scripts", required: false)
</body>

</html>