@model IEnumerable < WebAppSastiServices.Models.DB.STPProductList>
    @{
    ViewBag.Title = "ProductGrid";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="../img/bg/bg9.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Shop Product Grid</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">Products</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->

<section>
    <div class="container">
        <div class="row">

            <!-- start product grid left panel -->
            <div class="col-lg-3 col-md-12">

                <div class="side-bar">

                    <div class="widget">

                        <div id="accordion" class="accordion-style2">

                            @foreach (var item in ViewBag.categories)
                            {
                            <a href="@Url.Action("ProductGrid", "Shop", new { Category = @item.ProductTypeName })">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                @item.ProductTypeName
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            </a>
                            }
                        </div>
                    </div>

                </div>

            </div>
            <!-- end product grid left panel -->
            <!-- start right panel section -->
            <div class="col-lg-9 col-md-12 padding-35px-left sm-padding-15px-lr">

                <div class="row">

                    <div class="col-12">
                        <div class="float-left bg-light-gray width-100 padding-10px-tb padding-15px-lr">
                            <div class="float-left xs-width-100 text-center">
                                <p class="no-margin line-height-50">Showing <span id="CurrentRecords"></span> of <span id="TotalRecord"></span> results</p>
                            </div>
                            <div class="float-right margin-5px-top xs-no-margin-top xs-width-100 text-center">


                            </div>
                        </div>
                    </div>

                </div>

                <div class="row product-grid" id="RowProductGrid">
                    @if (ViewBag.products != null) { 
                    foreach (var pro in ViewBag.products)
                    {
                        <div class="col-xl-4 col-sm-6">

                            <div class="product-details">
                                @if (pro.isDiscount == true)
                                {
                                    <div class="product-img">

                                        <div class="label-offer bg-red">Sale</div>

                                        <img src="@pro.ImageOne" alt="" />

                                        <div class="product-cart">
                                            <a href="#!"><i class="fas fa-plus"></i></a>
                                            <a href="#!"><i class="fas fa-cart-plus"></i></a>
                                            <a href="#!"><i class="fas fa-heart"></i></a>
                                        </div>
                                    </div>

                                    <div class="product-info">
                                        <a href="/Shop/ProductDetail?productID=@pro.ID">@pro.ProductName</a>
                                        <p class="price text-center no-margin">
                                            <span class="red line-through margin-10px-right">@pro.ProductPrice</span>
                                            <span>@pro.DiscountedAmount</span>
                                        </p>
                                    </div>

                                }
                                else
                                {
                                    <div class="product-img">
                                        <img src="@pro.ImageOne" alt="" />

                                        <div class="product-cart">
                                            <a href="#!"><i class="fas fa-plus"></i></a>
                                            <a href="#!"><i class="fas fa-cart-plus"></i></a>
                                            <a href="#!"><i class="fas fa-heart"></i></a>
                                        </div>
                                    </div>

                                    <div class="product-info">
                                        <a href="/Shop/ProductDetail?productID=@pro.ID">@pro.ProductName</a>
                                        <p class="price text-center no-margin">
                                            <span>@pro.ProductPrice</span>
                                        </p>
                                    </div>

                                }
                            </div>

                        </div>
                        }
                    }
                </div>

                <div class="row margin-50px-top sm-margin-35px-top">
                    <div class="col-12">
                        <div class="pagination text-small text-uppercase text-extra-dark-gray">
                            @*<li><a href="#!"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
        <li class="active"><a href="#!">1</a></li>
        <li><a href="#!">2</a></li>
        <li><a href="#!">3</a></li>
        <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>*@
                            <ul id="load-pagination">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end right panel section -->

        </div>
    </div>
</section>

<!-- start clients section -->
<div class="section-clients bg-light-gray">
    <div class="container">
        <div class="owl-carousel owl-theme clients" id="clients">
            <div class="item"><img alt="partner-image" src="~/img/partners/client-01.png"></div>
            <div class="item"><img alt="partner-image" src="~/img/partners/client-02.png"></div>
            <div class="item"><img alt="partner-image" src="~/img/partners/client-03.png"></div>
            <div class="item"><img alt="partner-image" src="~/img/partners/client-04.png"></div>
            <div class="item"><img alt="partner-image" src="~/img/partners/client-05.png"></div>
            <div class="item"><img alt="partner-image" src="~/img/partners/client-06.png"></div>
        </div>
    </div>
</div>


<script src="~/js/jquery-3.3.1.min.js"></script>
<script>

    var ProductJson = [];
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('Category');
    if (myParam != null) {
        ProductList();
    }

        function ProductList(SelectedPage) {

            if (SelectedPage == undefined) {
                SelectedPage = 1;
            }

             $.ajax({
                   type: "GET",
                   url: '@Url.Action("ProductGridList", "Shop")',
                   data: { Category: myParam, page: SelectedPage},
                 success: function (services) {

                       DeleteAll();

                       document.getElementById("CurrentRecords").innerText = services.currentRecords;
                       document.getElementById("TotalRecord").innerText = services.totalItem;


                       services.data.map((item, index) => {
                           CreateProduct(item.ProductName, item.ProductPrice, item.DiscountedAmount, item.ImageOne,item.ID);

                       });


                       var pagination_string = "";
                       var pageCurrent = services.pageCurrent;
                       var numSize = services.numSize;

                       //create button previous
                       if (pageCurrent > 1) {
                           var pagePrevious = pageCurrent - 1;

                           //pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + pagePrevious + '>Previous</a></li>';
                           pagination_string += '<li><a onclick="ProductList(' + pagePrevious + ')" data-page=' + pagePrevious + '><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>'

                       }

                       for (i = 1; i <= numSize; i++) {
                           if (i == pageCurrent) {
                               pagination_string += '<li class="active"><a href="#!" data-page=' + i + '>' + i + '</a></li>';
                               //pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + pageCurrent + '</a></li>';
                           } else {
                               //pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                               pagination_string += '<li><a href="#!" data-page=' + i + '>' + i + '</a></li>';
                           }
                       }

                       //create button next
                       if (pageCurrent > 0 && pageCurrent < numSize) {
                           var pageNext = pageCurrent + 1;
                           pagination_string += '<li><a onclick="ProductList(' + pageNext + ')" id="NextProductList" data-page=' + pageNext + '>Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>';
                           //pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + pageNext + '>Next</a></li>';
                       }


                       $("#load-pagination").html(pagination_string);

                     //console.log(services);


                   }
             });

        }

        function DeleteAll() {
            var rowGrid = document.getElementById("RowProductGrid");
            rowGrid.innerHTML = "";
        }

        function CreateProduct(ProductName, OldPrice, NewPrice,image,ProductId) {


            var productRow = document.getElementById('RowProductGrid');
            var divProductColumn = document.createElement('div');
            var divProductDetail = document.createElement('div');
            var divProductImageContainer = document.createElement('div');
            var imgProductImage = document.createElement('img');
            var divProductCart = document.createElement('div');

            var hrefPlus = document.createElement('a');
            var hrefCartPlus = document.createElement('a');
            var hrefHeart = document.createElement('a');

            var iconPlus = document.createElement('i');
            var iconCartPlus = document.createElement('i');
            var iconHeart = document.createElement('i');

            var divProductInfo = document.createElement('div');
            var hrefProductTitle = document.createElement('a');
            var paragraphPrice = document.createElement('p');
            var discountSpan = document.createElement('span');
            var newSpan = document.createElement('span');


            divProductColumn.setAttribute('class', 'col-xl-4 col-sm-6');
            divProductDetail.setAttribute('class', 'product-details');
            divProductImageContainer.setAttribute('class', 'product-img');

            imgProductImage.setAttribute('src', image);
            imgProductImage.setAttribute('alt', 'Product');

            divProductCart.setAttribute('class', 'product-cart');

            hrefPlus.setAttribute('href', '#');
            hrefCartPlus.setAttribute('href', '#');
            hrefHeart.setAttribute('href', '#');

            iconPlus.setAttribute('class', 'fas fa-plus');
            iconCartPlus.setAttribute('class', 'fas fa-cart-plus');
            iconHeart.setAttribute('class', 'fas fa-heart');

            divProductInfo.setAttribute('class', 'product-info');
            hrefProductTitle.setAttribute('href','/Shop/ProductDetail?productID='+ ProductId);
            hrefProductTitle.innerText = ProductName;

            paragraphPrice.setAttribute('class', 'price text-center no-margin');

            if (NewPrice != null) {
                discountSpan.setAttribute('class', 'red line-through margin-10px-right');
                discountSpan.innerText = OldPrice;
                newSpan.innerText = NewPrice;
            }
            else {
                newSpan.innerText = OldPrice;
            }

            paragraphPrice.appendChild(discountSpan);
            paragraphPrice.appendChild(newSpan);

            divProductInfo.appendChild(hrefProductTitle);
            divProductInfo.appendChild(paragraphPrice);

            hrefPlus.appendChild(iconPlus);
            hrefCartPlus.appendChild(iconCartPlus);
            hrefHeart.appendChild(iconHeart);

            divProductCart.appendChild(hrefHeart);
            divProductCart.appendChild(hrefCartPlus);
            divProductCart.appendChild(hrefPlus);

            divProductImageContainer.appendChild(divProductCart);
            divProductImageContainer.appendChild(imgProductImage);

            divProductDetail.appendChild(divProductImageContainer);
            divProductDetail.appendChild(divProductInfo);
            divProductColumn.appendChild(divProductDetail);

            productRow.appendChild(divProductColumn);

        }


</script>











