@model WebAppSastiServices.Models.ViewModel.UserLoginView
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string message = @ViewBag.Message;
}
@if (message == "success")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Login successful !",
            icon: "success",
        });
    </script>
}else if (message == "Invalid")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Invalid Password.",
            text: "Please Try again.",
            icon: "error",
        });
    </script>
}else if (message == "notFound")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Username not Found!",
            text: "Invalid Credentials.Please Try again.",
            icon: "error",
        });
    </script>
}else if (message == "NotAdmin")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Error",
            text: "Your credentials is not for admin",
            icon: "error",
        });
    </script>
}else if (message == "NotVendor")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Error",
            text: "Your credentials is not for vendor",
            icon: "error",
        });
    </script>
}
else if (message == "RegisterSuccess")
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal({
            title: "Register Successful",
            text: "Please Login",
            icon: "success",
        });
    </script>
}
<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="../img/bg/bg9.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start login section -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-7 col-xl-6">
                <div class="common-block">
                    <div class="line-title">
                        <h3>Login</h3>
                    </div>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-sm-12 margin-10px-bottom">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName, "User Name", htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control input-md", @placeholder = "Your User Name here" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-12 margin-10px-bottom">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-md", @placeholder = "Your password here", @type = "password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="butn theme btn-block margin-20px-top"><span>Login</span></button>
                        <div class="text-center text-small margin-20px-top">
                            <span>Don't have an account yet? <a href="@Url.Action("Register", "Account")" style="color: #096ab2;">Register</a></span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end  section -->


@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

