@model WebAppSastiServices.Models.DB.TRNInvoice
@using WebAppSastiServices.Models.DB;
@{
    Layout = null;
    int count = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PrintInvoice</title>
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css" />
    <style>
        .Category {
            background: gray;
            padding: 5px 10px;
            margin: 2px 5px;
            border-radius: 2px;
            display: inline-block;
            color: aliceblue;
        }
        .bgYelo {
            background: #fccb20;
        }
        .bgBlue{background:#024b82}
        .clrBlue{color:#024b82}
    </style>
</head>
<body>
    <div class="container" style="height:1300px;position:relative;">
        @if (Model != null)
        {
        <div class="card" style="border-color:#024b8294;">
           <div class="p-2" style="width: 100%;height: 140px;background: url(../../img/InvoiceHeaderFooter/LetterHeadheader.jpg) no-repeat";>
                <div style="width:25%;float:right;text-align:right;">
                    <p class="font-weight-bold mb-1">Invoice #@Model.ID</p>
                    <p class="text-muted">@System.DateTime.Now.ToString("MM/dd/yyyy hh:mm tt")</p>
                </div>
            </div>
            <hr>
            <div class="p-2" style="width:100%;position:relative;height:190px;">

                <h3 class="mb-4 text-center font-weight-bolder clrBlue" style="letter-spacing:1px;text-transform:uppercase;">Invoice</h3>
                <div style="width:50%;position:absolute;left:20px;">
                    <p class="mb-1"><span class="text-muted">Name:  &nbsp; &nbsp;</span> @Model.TRNCustomerOrder.CustomerName</p>
                    <p class="mb-1"><span class="text-muted">Contact:&nbsp;</span> @Model.TRNCustomerOrder.Contact</p>
                    <p class="mb-1"><span class="text-muted">Email:&nbsp; &nbsp; &nbsp;</span> @Model.TRNCustomerOrder.Email</p>
                    <p class="mb-1"><span class="text-muted">Address:&nbsp;</span> @Model.TRNCustomerOrder.Address</p>
                </div>
                <div class="text-right" style="width:50%;position:absolute;right:20px;">
                    <p class="mb-1"><span class="text-muted">Order#: </span> @Model.STPOrdersID</p>
                    <p class="mb-1"><span class="text-muted">UnitType: </span> @Model.TRNCustomerOrder.STPServicesUnitType.Options</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table mt-2">
                        <thead>
                            <tr class="clrBlue">
                                <th class="border-0 text-uppercase small font-weight-bold">Sr#</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Rate</th>
                                <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.ServiceData != null || ViewBag.ProductData != null)
                            {
                                foreach (var item in (IEnumerable<TRNCustomerOrders_STPServices>)ViewBag.ServiceData)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.STPService.ServiceName (Service)  </td>
                                        <td></td>
                                        <td>@item.Rate</td>
                                        <td>@item.Rate</td>
                                    </tr>
                                }
                                foreach (var item in (IEnumerable<TRNCustomerOrders_STPProductItems>)ViewBag.ProductData)
                                {
                                    count++;
                                    var Total = @item.STPServiceProductItem.SellingPrice * @item.QTY;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.STPServiceProductItem.ServiceProductName (Items)  </td>
                                        <td>@item.QTY</td>
                                        <td>@item.STPServiceProductItem.SellingPrice</td>
                                        <td>@item.STPServiceProductItem.SellingPrice</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-white bgBlue" style="width:100%">
                <div class="text-right" style="padding:7px 15px;">
                    <div class="mb-2"> Total amount</div>
                    <div class="h2 font-weight-light">PKR. @Model.TotalAmount</div>
                </div>
            </div>
        </div>



        <div style="position:absolute;bottom:0;width:100%;height:100px;">
            <img class="mb-1 z-index-1" style="width:100%;" src="~/img/InvoiceHeaderFooter/letterheadfooter.png" />
        </div>
            }
            else
            {
            <script>
                alert("invoice not found!");
            </script>
            }
        </div>
</body>
</html>
