@*@model WebAppSastiServices.Models.DB.STPServiceType*@
@{
    ViewBag.Title = "ServiceDetail";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" style="background:url(../../img/bg/services.jpeg)">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>@Model.ServiceTypeName Services</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("Services", "Service")">Services</a></li>
                    <li><a href="#">@Model.ServiceTypeName Services</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start main section -->
<section class="bg-light-gray" id="SDetail">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="">
                    <div class="section-heading">
                        <h2>Book Service</h2>
                    </div>
                    <!-- form start -->

                    @{Html.RenderAction("CustomerOrder", "Home", new { serviceTypeId = @Model.ID });}

                    <!-- form end -->
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="section-heading">
                    <h2>@Model.ServiceTypeName</h2>
                </div>
                <p>
                    @Model.DetailedDescription
                </p>
                <div class="contact-info sm-margin-30px-bottom">
                    <div class="item bg-white">
                        <div class="cont">
                            <h6 class="margin-5px-bottom font-size16 md-font-size15 xs-font-size14 font-weight-600">24/7 Hours Available</h6>
                            <p>Integer nec nisi sed mi hendrerit mattis. Vestibulum mi nunc, ultricies quis vehicula et, iaculis in mag</p>
                        </div>
                    </div>
                    <div class="item bg-white">
                        <div class="cont">
                            <h6 class="margin-5px-bottom font-size16 md-font-size15 xs-font-size14 font-weight-600">Experienced Staff Available</h6>
                            <p class="no-margin">uam sit amet mi eu libero fermentum bibendum pulvinar a turpis. Vestibulum quis feugiat risus </p>
                        </div>
                    </div>
                    <div class="item bg-white">
                        <div class="cont">
                            <h6 class="margin-5px-bottom font-size16 md-font-size15 xs-font-size14 font-weight-600">Low Price & Fees: </h6>
                            <p>aesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium. Integer auctor element</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end main section -->

<section>
    <div class="container">
        <div class="section-heading">
            <h2>FAQs</h2>
        </div>
        <div id="accordion" class="accordion-style3">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How Can I Book An Appointment?
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white">
                        You can book appointment by clicking on any service you want to book.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Is Services Are Reliable?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body bg-white">
                        Yes, These Services are reliable for you because our employees are persevering, educated, and experienced that are set up to help with any and each electrical issue you may experience.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How Can I Complain Service Providers On Your Website?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body bg-white no-padding-bottom">
                        You can complain on our contact form, whatever your query just goes to our contact form and tell us. We will respond you shortly.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- start reviews section -->
<section>
    <div class="section-heading">
        <h2>What Our Client Say</h2>
    </div>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-891be47f-f968-485f-b882-141bab11e9a7"></div>

</section>

@section scripts{
    <script src="~/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
<!-- end reviews section -->
