@model IEnumerable<WebAppSastiServices.Models.DB.STPServiceType>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" style="background:url(../../img/bg/about.jpeg)">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Services</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->      
<!-- start services section -->
<section id="Services">
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 margin-30px-bottom sm-margin-20px-bottom">
                <div class="hovereffect">
                    <img class="img-responsive" id="@item.ID" src="@item.ImageFilePath" style="height:100%;" alt="">
                    <div class="overlay">
                        <h2>@item.ServiceTypeName</h2>
                        <a class="info" href="@Url.Action("ServiceDetail","Services",new {serviceTypeID=item.ID })">@item.Description</a>
                    </div>
                </div>

            </div>
            }
           
        </div>


        
    </div>
</section>
<!-- end services section -->
<!-- start counter section -->
<section class="parallax" data-overlay-dark="7" data-background="../img/bg/bg12.jpg" style="text-align:center;">
    <div class="container">
        <div class="row">


            <div class="col-md-12 col-sm-12 col-12">

             
                <div class="row">
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-center xs-text-center">

                            <h4 class="countup text-white display-block">1826</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Visitors</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-center xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">875</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Clients</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-center xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">1412</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Awards</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- end counter section -->